<div class='intro'>

  <h1 class='intro__hed'>{{{doc.opener-hed}}}</h1>

  <div class='opening-chart chart-container__proclaimers-dre'>
      <div class='chart-text'>
      </div>
      <svg class='chart__proclaimers-dre'></svg>
  </div>

  <div class='intro__hed'>{{doc.opener-subhed}}</div>
  <div class='hed'>{{doc.hed}}</div>
  <div class="byline-wrapper">
    <time class='intro__time'>June 2020</time>
    <p class='intro__byline'>Story by

        <a target="_blank" href='{{meta.author.url1}}' target='_blank'>
            <strong>{{meta.author.name1}}</strong>
        </a>

        , Data+Code by

        <a target="_blank" href='{{meta.author.url2}}' target='_blank'>
            <strong>{{meta.author.name2}}</strong>
        </a>
    </p>
  </div>

</div>
