<section class='story lede'>





    {{#each doc.intro-no-diggity}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}



    <!-- <p class="chart-hed">{{{doc.no-diggity-hed}}}</p> -->
    <div class='chart-container__no-diggity'>
        <div class='chart-text'>
            <div class='chart-hed'>{{doc.no-diggity-hed}}</div>
            <div class='chart-subhed'>{{doc.chart-text-subhed-no-diggity}}</div>
        </div>
        <svg class='chart__no-diggity line-chart'></svg>
    </div>


    {{#each doc.no-diggity-the-sign}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}


    <div class='chart-container__ace-of-base'>
        <div class='chart-text'>
            <div class='chart-hed'>{{{doc.chart-text-hed-ace-of-base}}}</div>
            <div class='chart-subhed'>{{doc.chart-text-subhed-ace-of-base}}</div>
        </div>
        <svg class='chart__ace-of-base line-chart'></svg>
    </div>

    {{#each doc.scroll-intro}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}
</section>

<section class='story scroll'>
    <figure class='mean-recognition'>
        <div class='chart-container__mean-recognition line-chart'>
            <div class='chart-text'>
                <div class='chart-hed'>{{{doc.chart-text-hed-scroll}}}</div>
                <div class='chart-subhed'>{{doc.chart-text-subhed-scroll}}</div>
            </div>
            <svg class='chart__mean-recognition'></svg>
        </div>
        <div class='song-examples mean-recognition'>

        </div>
    </figure>
    {{#each doc.intro-mean}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}


    {{#each doc.wild-west}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}
    <figure class='underperforming-songs'>
        <div class='chart-container__underperforming-songs'>

            <div class='chart-text'>
                <div class='chart-hed'>{{doc.wild-west-hed}}</div>
                <div class='chart-subhed'>{{doc.wild-west-sub}}</div>
            </div>

            <div class='chart-contents underperforming-songs'>
                <svg class='chart__underperforming-songs'>
                    <defs>
                        <linearGradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#52370c" stop-opacity="0" />
                            <stop offset="100%" stop-color="#52370c" stop-opacity=".3" />
                        </linearGradient>
                        <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#FFE9C7" stop-opacity="0" />
                            <stop offset="100%" stop-color="#FFE9C7" stop-opacity=".7" />
                        </linearGradient>
                    </defs>
                </svg>
                <div class='song-examples underperforming-songs'></div>
            </div>

        </div>
    </figure>

    {{#each doc.popular}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}
    <figure class='overperforming-songs'>
        <div class='chart-container__overperforming-songs'>
            <div class='chart-text'>
                <div class='chart-hed'>{{doc.popular-hed}}</div>
                <div class='chart-subhed'>{{doc.popular-subhed}}</div>
            </div>

            <div class='chart-contents overperforming-songs'>
                <svg class='chart__overperforming-songs'>
                    <defs>
                        <linearGradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#52370c" stop-opacity="0" />
                            <stop offset="100%" stop-color="#52370c" stop-opacity=".3" />
                        </linearGradient>
                        <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#FFE9C7" stop-opacity="0" />
                            <stop offset="100%" stop-color="#FFE9C7" stop-opacity=".7" />
                        </linearGradient>
                    </defs>
                </svg>
                <div class='song-examples overperforming-songs'></div>
            </div>

        </div>
    </figure>

    {{#each doc.millennial-only}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}
    <figure class='millennial-only-songs'>
        <div class='chart-container__millennial-only-songs'>
            <div class='chart-text'>
                <div class='chart-hed'>{{doc.millennial-hed}}</div>
                <div class='chart-subhed'>{{doc.millennial-subhead}}</div>
            </div>

            <div class='chart-contents millennial-only-songs'>
                <svg class='chart__millennial-only-songs'>
                    <defs>
                        <linearGradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#52370c" stop-opacity="0" />
                            <stop offset="100%" stop-color="#52370c" stop-opacity=".3" />
                        </linearGradient>

                        <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0" stop-color="#FFE9C7" stop-opacity="0" />
                            <stop offset="100%" stop-color="#FFE9C7" stop-opacity=".7" />
                        </linearGradient>
                    </defs>
                </svg>
                <div class='song-examples millennial-only-songs'></div>
            </div>

        </div>
    </figure>


</section>

<section class='story lollipop'>
    {{#each doc.lollipop}}
    <p class='story-text'>{{{text}}}</p>
    {{/each}}
    <div class='chart-container__lollipop'>
        <div class='chart-text'>
            <div class='chart-hed'>{{{doc.chart-text-hed-lollipop}}}</div>
            <div class='chart-subhed'>{{doc.chart-text-subhed-lollipop}}</div>
        </div>
        <div class='chart__lollipop-top-axis'>
          <div class="axis-wrapper">
            <svg class='lollipop-x-axis-svg line-chart'></svg>
          </div>

        </div>
        <svg class='chart__lollipop line-chart'>
            <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#808080;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#ad1b64;stop-opacity:1" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <button class="see-more"> See More Songs
    </button>
</section>
